:root {
--ff--primary: 'Amiri', serif;
--ff-secondary: 'Cinzel', serif;
--ff-third: 'Cinzel Decorative', cursive;

--fw-reg: 300;
--fw-bold: 900;

--clr-light: rgb(121, 94, 94);
--clr-dark: #2f2626;
--clr-accent:rgba(203, 160, 5, 0.936);

--fs-h1: 5rem;
--fs-h2: 2.25rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;
}
/* General styles */ 
* {
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}
img{
  max-width: 100%;
  max-height:100%;
  bottom:0;
}
.sub-div{
  top:50px;
  bottom: 0px;
}
/* header section */
.headercolors{
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}

.headertext {
  font-family: var(--ff-third);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
}

/* footer */
footer {
  border-top: 5px solid var(--clr-accent);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  color:#d3d2c5;
  background-color: #282503;    
}

/*pages */
.bodycolors {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}

.page-body {
  text-align: center;
  margin: 0rem;
  height: 100%;
}

.bodypartscenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-height {
  margin-top: 0 auto;
  max-height: 400px;
}

.card {
  margin: 2rem 0;
}

.cat-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}